#import prelude
-- nat.tt: the naturals as a commutative semiring, their decidable order, and division with remainder (M16b).
-- Equalities are paths. The prelude's add, mul, sub, div, mod, ble are native on literals and unfold by their
-- bodies on open terms: add and mul recurse on the first argument, ble on both, div and mod are one iteration.


-- multiplication
def mul_zero_r : (n : Nat) -> Path Nat (mul n zero) zero :=
  \n -> elim Nat (\n -> Path Nat (mul n zero) zero) (prefl Nat zero) (\k ih -> ih) n
def mul_suc_r : (m n : Nat) -> Path Nat (mul m (suc n)) (add m (mul m n)) :=
  \m n -> elim Nat (\m -> Path Nat (mul m (suc n)) (add m (mul m n))) (prefl Nat zero)
            (\k ih -> cong Nat Nat suc (add n (mul k (suc n))) (add k (add n (mul k n)))
                        (compPath Nat (add n (mul k (suc n))) (add n (add k (mul k n))) (add k (add n (mul k n)))
                           (cong Nat Nat (\x -> add n x) (mul k (suc n)) (add k (mul k n)) ih)
                           (add_swap n k (mul k n)))) m
def mul_one_r : (n : Nat) -> Path Nat (mul n 1) n :=
  \n -> compPath Nat (mul n 1) (add n (mul n zero)) n (mul_suc_r n zero)
          (compPath Nat (add n (mul n zero)) (add n zero) n
             (cong Nat Nat (\x -> add n x) (mul n zero) zero (mul_zero_r n)) (add_zero_r n))
def mul_dist_r : (a b c : Nat) -> Path Nat (mul (add a b) c) (add (mul a c) (mul b c)) :=
  \a b c -> elim Nat (\a -> Path Nat (mul (add a b) c) (add (mul a c) (mul b c))) (prefl Nat (mul b c))
              (\k ih -> compPath Nat (add c (mul (add k b) c)) (add c (add (mul k c) (mul b c))) (add (add c (mul k c)) (mul b c))
                          (cong Nat Nat (\x -> add c x) (mul (add k b) c) (add (mul k c) (mul b c)) ih)
                          (sym Nat (add (add c (mul k c)) (mul b c)) (add c (add (mul k c) (mul b c))) (add_assoc c (mul k c) (mul b c)))) a
def mul_assoc : (a b c : Nat) -> Path Nat (mul (mul a b) c) (mul a (mul b c)) :=
  \a b c -> elim Nat (\a -> Path Nat (mul (mul a b) c) (mul a (mul b c))) (prefl Nat zero)
              (\k ih -> compPath Nat (mul (add b (mul k b)) c) (add (mul b c) (mul (mul k b) c)) (add (mul b c) (mul k (mul b c)))
                          (mul_dist_r b (mul k b) c)
                          (cong Nat Nat (\x -> add (mul b c) x) (mul (mul k b) c) (mul k (mul b c)) ih)) a
def mul_comm : (m n : Nat) -> Path Nat (mul m n) (mul n m) :=
  \m n -> elim Nat (\m -> Path Nat (mul m n) (mul n m)) (sym Nat (mul n zero) zero (mul_zero_r n))
            (\k ih -> compPath Nat (add n (mul k n)) (add n (mul n k)) (mul n (suc k))
                        (cong Nat Nat (\x -> add n x) (mul k n) (mul n k) ih)
                        (sym Nat (mul n (suc k)) (add n (mul n k)) (mul_suc_r n k))) m
def mul_dist_l : (a b c : Nat) -> Path Nat (mul a (add b c)) (add (mul a b) (mul a c)) :=
  \a b c -> compPath Nat (mul a (add b c)) (mul (add b c) a) (add (mul a b) (mul a c)) (mul_comm a (add b c))
              (compPath Nat (mul (add b c) a) (add (mul b a) (mul c a)) (add (mul a b) (mul a c)) (mul_dist_r b c a)
                 (compPath Nat (add (mul b a) (mul c a)) (add (mul a b) (mul c a)) (add (mul a b) (mul a c))
                    (cong Nat Nat (\x -> add x (mul c a)) (mul b a) (mul a b) (mul_comm b a))
                    (cong Nat Nat (\x -> add (mul a b) x) (mul c a) (mul a c) (mul_comm c a))))

-- the decidable order: ble r m = 1 and ble (suc r) m = 0 force r = m (the only fact the remainder's bound needs)
def le_lt_eq : (r m : Nat) -> .(h1 : Id Nat (ble r m) 1) -> .(h2 : Id Nat (ble (suc r) m) 0) -> Path Nat r m :=
  \r -> elim Nat (\r -> (m : Nat) -> .(h1 : Id Nat (ble r m) 1) -> .(h2 : Id Nat (ble (suc r) m) 0) -> Path Nat r m)
          (\m -> elim Nat (\m -> .(h1 : Id Nat (ble 0 m) 1) -> .(h2 : Id Nat (ble 1 m) 0) -> Path Nat 0 m)
                   (\_ _ -> prefl Nat 0)
                   (\m' _ _ e -> elim Empty (\_ -> Path Nat 0 (suc m')) (zeroNotOne (substId (\y -> Id Nat y 1) e refl)))
                   m)
          (\r' ih m -> elim Nat (\m -> .(h1 : Id Nat (ble (suc r') m) 1) -> .(h2 : Id Nat (ble (suc (suc r')) m) 0) -> Path Nat (suc r') m)
                         (\e _ -> elim Empty (\_ -> Path Nat (suc r') 0) (zeroNotOne e))
                         (\m' _ e1 e2 -> cong Nat Nat suc r' m' (ih m' e1 e2))
                         m)
          r

-- division with remainder: after x steps from (0, 0) the state (q, r) satisfies x = q*m + r and r < m (m = suc m')
def dm_q : Nat -> Nat -> Nat := \m x -> fst (dmiter m x)
def dm_r : Nat -> Nat -> Nat := \m x -> snd (dmiter m x)
def modLtS : (x m' : Nat) -> Lt (mod x (suc m')) (suc m') := \x m' -> siter_lt m' x
def divmod_spec : (x m' : Nat) -> Path Nat (add (mul (div x (suc m')) (suc m')) (mod x (suc m'))) x := \x m' -> fst (siter_inv m' x)

def le_refl : (a : Nat) -> Le a a := \a -> (0, add_zero_r a)
def le_trans : (a b c : Nat) -> Le a b -> Le b c -> Le a c :=
  \a b c p q -> (add (fst p) (fst q),
    compPath Nat (add a (add (fst p) (fst q))) (add (add a (fst p)) (fst q)) c
      (sym Nat (add (add a (fst p)) (fst q)) (add a (add (fst p) (fst q))) (add_assoc a (fst p) (fst q)))
      (compPath Nat (add (add a (fst p)) (fst q)) (add b (fst q)) c
         (cong Nat Nat (\x -> add x (fst q)) (add a (fst p)) b (snd p)) (snd q)))
def le_suc : (a b : Nat) -> Le a b -> Le a (suc b) :=
  \a b p -> (suc (fst p), compPath Nat (add a (suc (fst p))) (suc (add a (fst p))) (suc b) (add_suc_r a (fst p)) (cong Nat Nat suc (add a (fst p)) b (snd p)))
def add_cancel_l : (m a b : Nat) -> Path Nat (add m a) (add m b) -> Path Nat a b :=
  \m a b -> elim Nat (\m -> Path Nat (add m a) (add m b) -> Path Nat a b) (\p -> p) (\k ih p -> ih (injSuc p)) m
def le_antisym : (a b : Nat) -> Le a b -> Le b a -> Path Nat a b :=
  \a b p q -> compPath Nat a (add a 0) b (sym Nat (add a 0) a (add_zero_r a))
    (compPath Nat (add a 0) (add a (fst p)) b
       (cong Nat Nat (\x -> add a x) 0 (fst p)
          (sym Nat (fst p) 0 (add_zero_both (fst p) (fst q)
             (add_cancel_l a (add (fst p) (fst q)) 0
                (compPath Nat (add a (add (fst p) (fst q))) a (add a 0) (snd (le_trans a b a p q)) (sym Nat (add a 0) a (add_zero_r a)))))))
       (snd p))
def add_swap_r : (a c d : Nat) -> Path Nat (add (add a c) d) (add (add a d) c) :=
  \a c d -> compPath Nat (add (add a c) d) (add a (add c d)) (add (add a d) c) (add_assoc a c d)
              (compPath Nat (add a (add c d)) (add a (add d c)) (add (add a d) c)
                 (cong Nat Nat (\x -> add a x) (add c d) (add d c) (add_comm c d))
                 (sym Nat (add (add a d) c) (add a (add d c)) (add_assoc a d c)))
def add_mono_r : (a b c : Nat) -> Le a b -> Le (add a c) (add b c) :=
  \a b c p -> (fst p, compPath Nat (add (add a c) (fst p)) (add (add a (fst p)) c) (add b c) (add_swap_r a c (fst p))
                        (cong Nat Nat (\x -> add x c) (add a (fst p)) b (snd p)))
def add_mono_l : (a b c : Nat) -> Le a b -> Le (add c a) (add c b) :=
  \a b c p -> (fst p, compPath Nat (add (add c a) (fst p)) (add c (add a (fst p))) (add c b) (add_assoc c a (fst p))
                        (cong Nat Nat (\x -> add c x) (add a (fst p)) b (snd p)))
-- m + x + 1 <= m is absurd
def lt_add_absurd : (m x : Nat) -> Le (suc (add m x)) m -> Empty :=
  \m x p -> snotz (add_cancel_l m (suc (add x (fst p))) 0
    (compPath Nat (add m (suc (add x (fst p)))) m (add m 0)
       (compPath Nat (add m (suc (add x (fst p)))) (suc (add m (add x (fst p)))) m
          (add_suc_r m (add x (fst p)))
          (compPath Nat (suc (add m (add x (fst p)))) (suc (add (add m x) (fst p))) m
             (cong Nat Nat suc (add m (add x (fst p))) (add (add m x) (fst p)) (sym Nat (add (add m x) (fst p)) (add m (add x (fst p))) (add_assoc m x (fst p))))
             (snd p)))
       (sym Nat (add m 0) m (add_zero_r m))))

-- the decidable order agrees with the witnessed one
-- quotient and remainder are unique: q*m + r = q'*m + r' with r, r' < m forces q = q' and r = r' (m = suc m')
def dm_eq : (m' q q' r r' : Nat) -> Path Nat (add (mul q (suc m')) r) (add (mul q' (suc m')) r') -> .(hr : Lt r (suc m')) -> .(hr' : Lt r' (suc m')) ->
            Sigma (Path Nat q q') (\_ -> Path Nat r r') :=
  \m' q -> elim Nat (\q -> (q' r r' : Nat) -> Path Nat (add (mul q (suc m')) r) (add (mul q' (suc m')) r') -> .(hr : Lt r (suc m')) -> .(hr' : Lt r' (suc m')) ->
                          Sigma (Path Nat q q') (\_ -> Path Nat r r'))
    (\q' -> elim Nat (\q' -> (r r' : Nat) -> Path Nat r (add (mul q' (suc m')) r') -> .(hr : Lt r (suc m')) -> .(hr' : Lt r' (suc m')) -> Sigma (Path Nat 0 q') (\_ -> Path Nat r r'))
              (\r r' e _ _ -> (prefl Nat 0, e))
              (\q'' _ r r' e hr _ -> elim Empty (\_ -> Sigma (Path Nat 0 (suc q'')) (\_ -> Path Nat r r'))
                 (lt_add_absurd (suc m') (add (mul q'' (suc m')) r')
                    (transp (\i -> Le (suc (compPath Nat r (add (add (suc m') (mul q'' (suc m'))) r') (add (suc m') (add (mul q'' (suc m')) r')) e (add_assoc (suc m') (mul q'' (suc m')) r') i)) (suc m')) i0
                       (lt_le r (suc m') hr))))
              q')
    (\q'' ih q' -> elim Nat (\q' -> (r r' : Nat) -> Path Nat (add (add (suc m') (mul q'' (suc m'))) r) (add (mul q' (suc m')) r') -> .(hr : Lt r (suc m')) -> .(hr' : Lt r' (suc m')) ->
                                    Sigma (Path Nat (suc q'') q') (\_ -> Path Nat r r'))
              (\r r' e _ hr' -> elim Empty (\_ -> Sigma (Path Nat (suc q'') 0) (\_ -> Path Nat r r'))
                 (lt_add_absurd (suc m') (add (mul q'' (suc m')) r)
                    (transp (\i -> Le (suc (compPath Nat r' (add (add (suc m') (mul q'' (suc m'))) r) (add (suc m') (add (mul q'' (suc m')) r)) (sym Nat (add (add (suc m') (mul q'' (suc m'))) r) r' e) (add_assoc (suc m') (mul q'' (suc m')) r) i)) (suc m')) i0
                       (lt_le r' (suc m') hr'))))
              (\q''' _ r r' e hr hr' ->
                 (cong Nat Nat suc q'' q''' (fst (ih q''' r r' (add_cancel_l (suc m') (add (mul q'' (suc m')) r) (add (mul q''' (suc m')) r')
                      (compPath Nat (add (suc m') (add (mul q'' (suc m')) r)) (add (add (suc m') (mul q'' (suc m'))) r) (add (suc m') (add (mul q''' (suc m')) r'))
                         (sym Nat (add (add (suc m') (mul q'' (suc m'))) r) (add (suc m') (add (mul q'' (suc m')) r)) (add_assoc (suc m') (mul q'' (suc m')) r))
                         (compPath Nat (add (add (suc m') (mul q'' (suc m'))) r) (add (add (suc m') (mul q''' (suc m'))) r') (add (suc m') (add (mul q''' (suc m')) r'))
                            e (add_assoc (suc m') (mul q''' (suc m')) r')))) hr hr')),
                  snd (ih q''' r r' (add_cancel_l (suc m') (add (mul q'' (suc m')) r) (add (mul q''' (suc m')) r')
                      (compPath Nat (add (suc m') (add (mul q'' (suc m')) r)) (add (add (suc m') (mul q'' (suc m'))) r) (add (suc m') (add (mul q''' (suc m')) r'))
                         (sym Nat (add (add (suc m') (mul q'' (suc m'))) r) (add (suc m') (add (mul q'' (suc m')) r)) (add_assoc (suc m') (mul q'' (suc m')) r))
                         (compPath Nat (add (add (suc m') (mul q'' (suc m'))) r) (add (add (suc m') (mul q''' (suc m'))) r') (add (suc m') (add (mul q''' (suc m')) r'))
                            e (add_assoc (suc m') (mul q''' (suc m')) r')))) hr hr')))
              q')
    q
def dm_unique : (m' q r x : Nat) -> Path Nat (add (mul q (suc m')) r) x -> .(h : Lt r (suc m')) -> Sigma (Path Nat q (div x (suc m'))) (\_ -> Path Nat r (mod x (suc m'))) :=
  \m' q r x e h -> dm_eq m' q (div x (suc m')) r (mod x (suc m')) (compPath Nat (add (mul q (suc m')) r) x (add (mul (div x (suc m')) (suc m')) (mod x (suc m'))) e (sym Nat (add (mul (div x (suc m')) (suc m')) (mod x (suc m'))) x (divmod_spec x m'))) h (modLtS x m')
def mod_small : (m' x : Nat) -> .(h : Lt x (suc m')) -> Path Nat (mod x (suc m')) x := \m' x h -> sym Nat x (mod x (suc m')) (snd (dm_unique m' 0 x x (prefl Nat x) h))
def div_small : (m' x : Nat) -> .(h : Lt x (suc m')) -> Path Nat (div x (suc m')) 0 := \m' x h -> sym Nat 0 (div x (suc m')) (fst (dm_unique m' 0 x x (prefl Nat x) h))

-- ---- modular arithmetic: the lemmas the Word laws rest on (x = q*m + r) ----
def mod_mod : (x m' : Nat) -> Path Nat (mod (mod x (suc m')) (suc m')) (mod x (suc m')) :=
  \x m' -> mod_small m' (mod x (suc m')) (modLtS x m')
def mod_mul_add : (k r m' : Nat) -> Path Nat (mod (add (mul k (suc m')) r) (suc m')) (mod r (suc m')) :=
  \k r m' -> sym Nat (mod r (suc m')) (mod (add (mul k (suc m')) r) (suc m'))
    (snd (dm_unique m' (add k (div r (suc m'))) (mod r (suc m')) (add (mul k (suc m')) r)
      (let dz : Nat := div r (suc m') in
       let rz : Nat := mod r (suc m') in
       compPath Nat
         (add (mul (add k dz) (suc m')) rz)
         (add (add (mul k (suc m')) (mul dz (suc m'))) rz)
         (add (mul k (suc m')) r)
         (cong Nat Nat (\w -> add w rz) (mul (add k dz) (suc m')) (add (mul k (suc m')) (mul dz (suc m'))) (mul_dist_r k dz (suc m')))
         (compPath Nat
            (add (add (mul k (suc m')) (mul dz (suc m'))) rz)
            (add (mul k (suc m')) (add (mul dz (suc m')) rz))
            (add (mul k (suc m')) r)
            (add_assoc (mul k (suc m')) (mul dz (suc m')) rz)
            (cong Nat Nat (\w -> add (mul k (suc m')) w) (add (mul dz (suc m')) rz) r (divmod_spec r m'))))
      (modLtS r m')))
def mod_add_mod1 : (u v m' : Nat) -> Path Nat (mod (add u v) (suc m')) (mod (add (mod u (suc m')) v) (suc m')) :=
  \u v m' -> compPath Nat
    (mod (add u v) (suc m'))
    (mod (add (mul (div u (suc m')) (suc m')) (add (mod u (suc m')) v)) (suc m'))
    (mod (add (mod u (suc m')) v) (suc m'))
    (cong Nat Nat (\w -> mod w (suc m')) (add u v) (add (mul (div u (suc m')) (suc m')) (add (mod u (suc m')) v))
       (compPath Nat (add u v) (add (add (mul (div u (suc m')) (suc m')) (mod u (suc m'))) v)
          (add (mul (div u (suc m')) (suc m')) (add (mod u (suc m')) v))
          (cong Nat Nat (\w -> add w v) u (add (mul (div u (suc m')) (suc m')) (mod u (suc m')))
             (sym Nat (add (mul (div u (suc m')) (suc m')) (mod u (suc m'))) u (divmod_spec u m')))
          (add_assoc (mul (div u (suc m')) (suc m')) (mod u (suc m')) v)))
    (mod_mul_add (div u (suc m')) (add (mod u (suc m')) v) m')
def mod_add_mod2 : (u v m' : Nat) -> Path Nat (mod (add u v) (suc m')) (mod (add u (mod v (suc m'))) (suc m')) :=
  \u v m' -> compPath Nat
    (mod (add u v) (suc m'))
    (mod (add (mod v (suc m')) u) (suc m'))
    (mod (add u (mod v (suc m'))) (suc m'))
    (compPath Nat (mod (add u v) (suc m')) (mod (add v u) (suc m')) (mod (add (mod v (suc m')) u) (suc m'))
       (cong Nat Nat (\w -> mod w (suc m')) (add u v) (add v u) (add_comm u v))
       (mod_add_mod1 v u m'))
    (cong Nat Nat (\w -> mod w (suc m')) (add (mod v (suc m')) u) (add u (mod v (suc m'))) (add_comm (mod v (suc m')) u))
def mod_add : (x y m' : Nat) -> Path Nat (mod (add x y) (suc m')) (mod (add (mod x (suc m')) (mod y (suc m'))) (suc m')) :=
  \x y m' -> compPath Nat
    (mod (add x y) (suc m'))
    (mod (add (mod x (suc m')) y) (suc m'))
    (mod (add (mod x (suc m')) (mod y (suc m'))) (suc m'))
    (mod_add_mod1 x y m') (mod_add_mod2 (mod x (suc m')) y m')
def mod_mul_mod1 : (u v m' : Nat) -> Path Nat (mod (mul u v) (suc m')) (mod (mul (mod u (suc m')) v) (suc m')) :=
  \u v m' -> compPath Nat
    (mod (mul u v) (suc m'))
    (mod (add (mul (mul (div u (suc m')) v) (suc m')) (mul (mod u (suc m')) v)) (suc m'))
    (mod (mul (mod u (suc m')) v) (suc m'))
    (cong Nat Nat (\w -> mod w (suc m')) (mul u v) (add (mul (mul (div u (suc m')) v) (suc m')) (mul (mod u (suc m')) v))
       (compPath Nat (mul u v) (mul (add (mul (div u (suc m')) (suc m')) (mod u (suc m'))) v)
          (add (mul (mul (div u (suc m')) v) (suc m')) (mul (mod u (suc m')) v))
          (cong Nat Nat (\w -> mul w v) u (add (mul (div u (suc m')) (suc m')) (mod u (suc m')))
             (sym Nat (add (mul (div u (suc m')) (suc m')) (mod u (suc m'))) u (divmod_spec u m')))
          (compPath Nat
             (mul (add (mul (div u (suc m')) (suc m')) (mod u (suc m'))) v)
             (add (mul (mul (div u (suc m')) (suc m')) v) (mul (mod u (suc m')) v))
             (add (mul (mul (div u (suc m')) v) (suc m')) (mul (mod u (suc m')) v))
             (mul_dist_r (mul (div u (suc m')) (suc m')) (mod u (suc m')) v)
             (cong Nat Nat (\w -> add w (mul (mod u (suc m')) v)) (mul (mul (div u (suc m')) (suc m')) v) (mul (mul (div u (suc m')) v) (suc m'))
                (compPath Nat (mul (mul (div u (suc m')) (suc m')) v) (mul (div u (suc m')) (mul (suc m') v)) (mul (mul (div u (suc m')) v) (suc m'))
                   (mul_assoc (div u (suc m')) (suc m') v)
                   (compPath Nat (mul (div u (suc m')) (mul (suc m') v)) (mul (div u (suc m')) (mul v (suc m'))) (mul (mul (div u (suc m')) v) (suc m'))
                      (cong Nat Nat (\w -> mul (div u (suc m')) w) (mul (suc m') v) (mul v (suc m')) (mul_comm (suc m') v))
                      (sym Nat (mul (mul (div u (suc m')) v) (suc m')) (mul (div u (suc m')) (mul v (suc m'))) (mul_assoc (div u (suc m')) v (suc m')))))))))
    (mod_mul_add (mul (div u (suc m')) v) (mul (mod u (suc m')) v) m')
def mod_mul_mod2 : (u v m' : Nat) -> Path Nat (mod (mul u v) (suc m')) (mod (mul u (mod v (suc m'))) (suc m')) :=
  \u v m' -> compPath Nat
    (mod (mul u v) (suc m'))
    (mod (mul (mod v (suc m')) u) (suc m'))
    (mod (mul u (mod v (suc m'))) (suc m'))
    (compPath Nat (mod (mul u v) (suc m')) (mod (mul v u) (suc m')) (mod (mul (mod v (suc m')) u) (suc m'))
       (cong Nat Nat (\w -> mod w (suc m')) (mul u v) (mul v u) (mul_comm u v))
       (mod_mul_mod1 v u m'))
    (cong Nat Nat (\w -> mod w (suc m')) (mul (mod v (suc m')) u) (mul u (mod v (suc m'))) (mul_comm (mod v (suc m')) u))
def mod_mul : (x y m' : Nat) -> Path Nat (mod (mul x y) (suc m')) (mod (mul (mod x (suc m')) (mod y (suc m'))) (suc m')) :=
  \x y m' -> compPath Nat
    (mod (mul x y) (suc m'))
    (mod (mul (mod x (suc m')) y) (suc m'))
    (mod (mul (mod x (suc m')) (mod y (suc m'))) (suc m'))
    (mod_mul_mod1 x y m') (mod_mul_mod2 (mod x (suc m')) y m')

-- ---- truncated subtraction (monus): the layer the BigNat padding needs ----
def sub_zero : (m : Nat) -> Path Nat (sub m 0) m := \m -> prefl Nat m
def sub_sucsuc : (m n : Nat) -> Path Nat (sub (suc m) (suc n)) (sub m n) :=
  \m n -> elim Nat (\n -> Path Nat (sub (suc m) (suc n)) (sub m n)) (prefl Nat m) (\j ih -> cong Nat Nat pred (sub (suc m) (suc j)) (sub m j) ih) n
def sub_self : (n : Nat) -> Path Nat (sub n n) 0 :=
  \n -> elim Nat (\n -> Path Nat (sub n n) 0) (prefl Nat 0) (\k ih -> compPath Nat (sub (suc k) (suc k)) (sub k k) 0 (sub_sucsuc k k) ih) n
def sub_add_d : (n d : Nat) -> Path Nat (sub (add n d) n) d :=
  \n -> elim Nat (\n -> (d : Nat) -> Path Nat (sub (add n d) n) d)
    (\d -> compPath Nat (sub (add 0 d) 0) (add 0 d) d (sub_zero (add 0 d)) (add_zero_l d))
    (\k ih -> \d -> compPath Nat (sub (add (suc k) d) (suc k)) (sub (add k d) k) d (sub_sucsuc (add k d) k) (ih d))
    n
def sub_add_le : (m n : Nat) -> Le n m -> Path Nat (add (sub m n) n) m :=
  \m n p -> compPath Nat (add (sub m n) n) (add n (fst p)) m
    (compPath Nat (add (sub m n) n) (add (sub (add n (fst p)) n) n) (add n (fst p))
       (cong Nat Nat (\w -> add (sub w n) n) m (add n (fst p)) (sym Nat (add n (fst p)) m (snd p)))
       (compPath Nat (add (sub (add n (fst p)) n) n) (add (fst p) n) (add n (fst p))
          (cong Nat Nat (\w -> add w n) (sub (add n (fst p)) n) (fst p) (sub_add_d n (fst p)))
          (add_comm (fst p) n)))
    (snd p)

-- ---- the order lemmas the Word layer's carry bounds need (M16b b5) ----
-- a successor on the left is absorbed by the witness: Le (suc a) b gives Le a b
def le_of_le_suc : (a b : Nat) -> Le (suc a) b -> Le a b :=
  \a b p -> (suc (fst p), compPath Nat (add a (suc (fst p))) (add (suc a) (fst p)) b
     (add_suc_r a (fst p))
     (snd p))
-- and for multiplication on the right: Le a b gives Le (mul a c) (mul b c)
def le_mul_r : (a b c : Nat) -> Le a b -> Le (mul a c) (mul b c) :=
  \a b c p -> (mul (fst p) c,
    compPath Nat (add (mul a c) (mul (fst p) c)) (mul (add a (fst p)) c) (mul b c)
      (sym Nat (mul (add a (fst p)) c) (add (mul a c) (mul (fst p) c)) (mul_dist_r a (fst p) c))
      (cong Nat Nat (\w -> mul w c) (add a (fst p)) b (snd p)))
-- no number is below itself
def lt_self_absurd : (x : Nat) -> Le (suc x) x -> Empty :=
  \x -> elim Nat (\x -> Le (suc x) x -> Empty)
    (\p -> snotz (snd p))
    (\k ih p -> ih (fst p, injSuc (snd p)))
    x

-- rearrangement of four summands (the same as bignat.tt's interchange, kept here for the word layer)
def add_interchange : (a b c d : Nat) -> Path Nat (add (add a b) (add c d)) (add (add a c) (add b d)) :=
  \a b c d -> compPath Nat (add (add a b) (add c d)) (add a (add b (add c d))) (add (add a c) (add b d))
    (add_assoc a b (add c d))
    (compPath Nat (add a (add b (add c d))) (add a (add c (add b d))) (add (add a c) (add b d))
       (cong Nat Nat (\w -> add a w) (add b (add c d)) (add c (add b d)) (add_swap b c d))
       (sym Nat (add (add a c) (add b d)) (add a (add c (add b d))) (add_assoc a c (add b d))))
-- 2*d is d+d (mul computes 2*d to d + 1*d, and 1*d to d + 0*d)
def mul_two : (d : Nat) -> Path Nat (mul 2 d) (add d d) :=
  \d -> cong Nat Nat (\w -> add d w) (add d 0) d (add_zero_r d)
-- a sum of two things below d is below 2*d - the strict bound the carry's quotient case ends in
def lt_add_two_le : (a b d : Nat) -> Le (suc a) d -> Le (suc b) d -> Le (suc (add a b)) (mul 2 d) :=
  \a b d p q -> (suc (add (fst p) (fst q)),
    compPath Nat (add (suc (add a b)) (suc (add (fst p) (fst q)))) (suc (suc (add (add a b) (add (fst p) (fst q))))) (mul 2 d)
      (cong Nat Nat suc (add (add a b) (suc (add (fst p) (fst q)))) (suc (add (add a b) (add (fst p) (fst q)))) (add_suc_r (add a b) (add (fst p) (fst q))))
      (compPath Nat (suc (suc (add (add a b) (add (fst p) (fst q))))) (suc (suc (add (add a (fst p)) (add b (fst q))))) (mul 2 d)
         (cong Nat Nat suc (suc (add (add a b) (add (fst p) (fst q)))) (suc (add (add a (fst p)) (add b (fst q))))
            (cong Nat Nat suc (add (add a b) (add (fst p) (fst q))) (add (add a (fst p)) (add b (fst q))) (add_interchange a b (fst p) (fst q))))
         (compPath Nat (suc (suc (add (add a (fst p)) (add b (fst q))))) (add (suc (add a (fst p))) (suc (add b (fst q)))) (mul 2 d)
            (sym Nat (add (suc (add a (fst p))) (suc (add b (fst q)))) (suc (suc (add (add a (fst p)) (add b (fst q)))))
               (cong Nat Nat suc (add (add a (fst p)) (suc (add b (fst q)))) (suc (add (add a (fst p)) (add b (fst q)))) (add_suc_r (add a (fst p)) (add b (fst q)))))
            (compPath Nat (add (suc (add a (fst p))) (suc (add b (fst q)))) (add d (suc (add b (fst q)))) (mul 2 d)
               (cong Nat Nat (\w -> add w (suc (add b (fst q)))) (add (suc a) (fst p)) d (snd p))
               (compPath Nat (add d (suc (add b (fst q)))) (add d d) (mul 2 d)
                  (cong Nat Nat (\w -> add d w) (add (suc b) (fst q)) d (snd q))
                  (sym Nat (mul 2 d) (add d d) (mul_two d)))))))

-- The quotient bound the word layer's carry needs. It cannot come from a case split on the quotient
-- itself: eliminating on div x m throws away the relation to x, and it is precisely that relation the
-- refuted branch needs. So it comes from dm_inv's invariant, the way modLtS does - split on the
-- quotient only once the relation is already in hand.
def dm_q_mul_le : (m' x : Nat) -> Le (mul (dm_q (suc m') x) (suc m')) x :=
  \m' x -> (mod x (suc m'), divmod_spec x m')
-- a number that cannot be two or more is at most one (the split is safe here: the refutation is a hypothesis)
def le_one_of_not_le_two : (q : Nat) -> (Le 2 q -> Empty) -> Le q 1 :=
  \q -> elim Nat (\q -> (Le 2 q -> Empty) -> Le q 1)
    (\_ -> (1, prefl Nat 1))
    (\k ih -> elim Nat (\k' -> (Le 2 (suc k') -> Empty) -> Le (suc k') 1)
       (\h -> (0, prefl Nat 1))
       (\j ih2 h -> elim Empty (\_ -> Le (suc (suc j)) 1) (h (j, prefl Nat (suc (suc j)))))
       k)
    q
-- the quotient of a below-2m number is at most one: the quotient cannot reach two, because q >= 2 would put
-- 2m <= q*m <= x, contradicting x < 2m
def dm_q_le_one : (m' x : Nat) -> Le (suc x) (mul 2 (suc m')) -> Le (dm_q (suc m') x) 1 :=
  \m' x h -> le_one_of_not_le_two (dm_q (suc m') x)
    (\h2 -> lt_self_absurd x
       (le_trans (suc x) (mul 2 (suc m')) x
          h
          (le_trans (mul 2 (suc m')) (mul (dm_q (suc m') x) (suc m')) x
             (le_mul_r 2 (dm_q (suc m') x) (suc m') h2)
             (dm_q_mul_le m' x))))

-- nothing of the form suc (suc j) is below 1 (the shape the carry's split refutes with)
def le_one_absurd : (j : Nat) -> Le (suc (suc j)) 1 -> Empty :=
  \j h -> snotz (injSuc (snd h))

-- the two's complement identity, the half where the difference is not negative: A + (m - B) = (A - B) + m
def add_sub_ge : (m A B : Nat) -> Le B A -> Le B m -> Path Nat (add A (sub m B)) (add (sub A B) m) :=
  \m A B hBA hBm -> compPath Nat (add A (sub m B)) (add (add (sub A B) B) (sub m B)) (add (sub A B) m)
     (cong Nat Nat (\w -> add w (sub m B)) A (add (sub A B) B) (sym Nat (add (sub A B) B) A (sub_add_le A B hBA)))
     (compPath Nat (add (add (sub A B) B) (sub m B)) (add (sub A B) (add B (sub m B))) (add (sub A B) m)
        (add_assoc (sub A B) B (sub m B))
        (cong Nat Nat (\w -> add (sub A B) w) (add B (sub m B)) m (compPath Nat (add B (sub m B)) (add (sub m B) B) m (add_comm B (sub m B)) (sub_add_le m B hBm))))


-- pred X is at most X, and sub a b is at most a: the two bounds the negative half of the two's complement identity
-- reads its witnesses through.
def pred_le : (X : Nat) -> Le (pred X) X :=
  \X -> elim Nat (\X -> Le (pred X) X)
    (le_refl 0)
    (\k _ -> (1, compPath Nat (add k 1) (suc (add k 0)) (suc k) (add_suc_r k 0) (cong Nat Nat suc (add k 0) k (add_zero_r k))))
    X
def sub_le : (a b : Nat) -> Le (sub a b) a :=
  \a b -> elim Nat (\b -> Le (sub a b) a)
    (le_refl a)
    (\b' ih -> le_trans (pred (sub a b')) (sub a b') a (pred_le (sub a b')) ih)
    b
-- the other half of the two's complement identity: when the difference IS negative the m stays, and the digit is
-- m - (B - A). Cancellation gives uniqueness of X + D = m, so the characterization is not needed.
def add_sub_lt : (m A B : Nat) -> Le (suc A) B -> Le B m -> Path Nat (add A (sub m B)) (sub m (sub B A)) :=
  \m A B h hBm ->
  let D : Nat := sub B A in
  let hDm : Le D m := le_trans D B m (sub_le B A) hBm in
  let eA : Path Nat (add A D) B :=
     compPath Nat (add A D) (add D A) B (sym Nat (add D A) (add A D) (add_comm D A)) (sub_add_le B A (le_of_le_suc A B h)) in
  let e1 : Path Nat (add (add A (sub m B)) D) m :=
     compPath Nat (add (add A (sub m B)) D) (add A (add (sub m B) D)) m
        (add_assoc A (sub m B) D)
        (compPath Nat (add A (add (sub m B) D)) (add A (add D (sub m B))) m
           (cong Nat Nat (\w -> add A w) (add (sub m B) D) (add D (sub m B)) (add_comm (sub m B) D))
           (compPath Nat (add A (add D (sub m B))) (add (add A D) (sub m B)) m
              (sym Nat (add (add A D) (sub m B)) (add A (add D (sub m B))) (add_assoc A D (sub m B)))
              (compPath Nat (add (add A D) (sub m B)) (add B (sub m B)) m
                 (cong Nat Nat (\w -> add w (sub m B)) (add A D) B eA)
                 (compPath Nat (add B (sub m B)) (add (sub m B) B) m (add_comm B (sub m B)) (sub_add_le m B hBm))))) in
  let p1 : Path Nat (add (add A (sub m B)) D) (add (sub m D) D) :=
     compPath Nat (add (add A (sub m B)) D) m (add (sub m D) D) e1 (sym Nat (add (sub m D) D) m (sub_add_le m D hDm)) in
  add_cancel_l D (add A (sub m B)) (sub m D)
     (compPath Nat (add D (add A (sub m B))) (add (add A (sub m B)) D) (add D (sub m D))
        (add_comm D (add A (sub m B)))
        (compPath Nat (add (add A (sub m B)) D) (add (sub m D) D) (add D (sub m D)) p1 (add_comm (sub m D) D)))

-- cancellation on the left for bounds: the witness of the bigger sum collapses by the equality cancellation
def le_cancel_l : (a x y : Nat) -> Le (add a x) (add a y) -> Le x y :=
  \a x y h -> let d : Nat := fst h in
    (d, add_cancel_l a (add x d) y
       (compPath Nat (add a (add x d)) (add (add a x) d) (add a y)
          (sym Nat (add (add a x) d) (add a (add x d)) (add_assoc a x d))
          (snd h)))
