-- eezott test prelude: the data types the tests share.
data Bool : U where
  | true : Bool
  | false : Bool

def not : Bool -> Bool := \b -> elim Bool (\_ -> Bool) false true b
def and : Bool -> Bool -> Bool := \a b -> elim Bool (\_ -> Bool) b false a
def or : Bool -> Bool -> Bool := \a b -> elim Bool (\_ -> Bool) true b a

data Nat : U where
  | zero : Nat
  | suc : Nat -> Nat

-- native definitions (M15): computed by the kernel on literals, by their bodies otherwise
native add : Nat -> Nat -> Nat := \m n -> elim Nat (\_ -> Nat) n (\k ih -> suc ih) m
native mul : Nat -> Nat -> Nat := \m n -> elim Nat (\_ -> Nat) zero (\k ih -> add n ih) m
def one : Nat := suc zero
def two : Nat := suc one
def three : Nat := suc two

data Id (A : U) (a : A) : A -> U where
  | refl : Id A a a

data Vec (A : U) : Nat -> U where
  | nil : Vec A zero
  | cons : (n : Nat) -> A -> Vec A n -> Vec A (suc n)

data List (A : U) : U where
  | lnil : List A
  | lcons : A -> List A -> List A

def id : (A : U) -> A -> A := \A x -> x

-- cubical
def prefl (A : U) (x : A) : Path A x x := \i -> x
def sym (A : U) (x y : A) (p : Path A x y) : Path A y x := \i -> p (~ i)
def cong (A B : U) (f : A -> B) (x y : A) (p : Path A x y) : Path B (f x) (f y) := \i -> f (p i)
def funExt (A B : U) (f g : A -> B) (h : (x : A) -> Path B (f x) (g x)) : Path (A -> B) f g := \i -> \x -> h x i
def compPath (A : U) (x y z : A) (p : Path A x y) (q : Path A y z) : Path A x z :=
  \i -> hcomp A (~ i \/ i) (\j -> [ ~ i -> x | i -> q j ]) (p i)
def transport (A B : U) (p : Path U A B) (a : A) : B := transp (\i -> p i) i0 a
def hfill (A : U) (phi : I) (u : (i : I) -> Partial phi A) (u0 : Sub A phi (u i0)) (i : I) : A :=
  hcomp A (phi \/ ~ i) (\j -> [ phi -> u (i /\ j) | ~ i -> outS u0 ]) (outS u0)

-- equivalences and univalence
def isContr (A : U) : U := Sigma A (\x -> (y : A) -> Path A x y)
def fiber (A B : U) (f : A -> B) (y : B) : U := Sigma A (\x -> Path B (f x) y)
def isEquiv (A B : U) (f : A -> B) : U := (y : B) -> isContr (fiber A B f y)
def Equiv (A B : U) : U := Sigma (A -> B) (\f -> isEquiv A B f)
def equivProof (T A : U) (w : Equiv T A) (a : A) (psi : I) (f : Partial psi (fiber T A (fst w) a)) : Sub (fiber T A (fst w) a) psi f :=
  inS (hcomp (fiber T A (fst w) a) (psi \/ ~ psi) (\i -> [ psi -> snd (snd w a) f i | ~ psi -> fst (snd w a) ]) (fst (snd w a)))
def idIsEquiv (A : U) : isEquiv A A (\x -> x) := \y -> ((y , \i -> y) , \q -> \i -> (snd q (~ i) , \j -> snd q (~ i \/ j)))
def idEquiv (A : U) : Equiv A A := (\x -> x , idIsEquiv A)
def ua (A B : U) (e : Equiv A B) : Path U A B := \i -> Glue B (~ i \/ i) [ ~ i -> (A , e) | i -> (B , idEquiv B) ]
-- transport along a line of types is an equivalence (Cubical.Foundations.Equiv.Base, isEquivTransp with phi = i0)
def transpIsEquiv (L : I -> U) : isEquiv (L i0) (L i1) (\x -> transp L i0 x) :=
  transp (\k -> isEquiv (L i0) (L k) (\x -> transp (\j -> L (j /\ k)) (~ k) x)) i0 (idIsEquiv (L i0))
def transpEquiv (L : I -> U) : Equiv (L i0) (L i1) := (\x -> transp L i0 x , transpIsEquiv L)

-- any isomorphism is an equivalence (Cubical.Foundations.Isomorphism, lemIso)
def lemIso (A B : U) (f : A -> B) (g : B -> A) (s : (b : B) -> Path B (f (g b)) b) (t : (a : A) -> Path A (g (f a)) a)
           (y : B) (x0 x1 : A) (p0 : Path B (f x0) y) (p1 : Path B (f x1) y) : Path (fiber A B f y) (x0 , p0) (x1 , p1) :=
  let fill0 : (i : I) -> (k : I) -> A := \i -> hfill A (i \/ ~ i) (\k -> [ i -> t x0 k | ~ i -> g y ]) (inS (g (p0 (~ i)))) in
  let fill1 : (i : I) -> (k : I) -> A := \i -> hfill A (i \/ ~ i) (\k -> [ i -> t x1 k | ~ i -> g y ]) (inS (g (p1 (~ i)))) in
  let fill2 : (i : I) -> (k : I) -> A := \i -> hfill A (i \/ ~ i) (\k -> [ i -> fill1 k i1 | ~ i -> fill0 k i1 ]) (inS (g y)) in
  let p : Path A x0 x1 := \i -> fill2 i i1 in
  let sq : (i : I) -> (j : I) -> A := \i j -> hcomp A (i \/ ~ i \/ j \/ ~ j)
        (\k -> [ i -> fill1 j (~ k) | ~ i -> fill0 j (~ k) | j -> t (fill2 i i1) (~ k) | ~ j -> g y ]) (fill2 i j) in
  let sq1 : (i : I) -> (j : I) -> B := \i j -> hcomp B (i \/ ~ i \/ j \/ ~ j)
        (\k -> [ i -> s (p1 (~ j)) k | ~ i -> s (p0 (~ j)) k | j -> s (f (p i)) k | ~ j -> s y k ]) (f (sq i j)) in
  \i -> (p i , \j -> sq1 i (~ j))
def isoToIsEquiv (A B : U) (f : A -> B) (g : B -> A) (s : (b : B) -> Path B (f (g b)) b) (t : (a : A) -> Path A (g (f a)) a) : isEquiv A B f :=
  \y -> ((g y , s y) , \z -> lemIso A B f g s t y (g y) (fst z) (s y) (snd z))
def isoToEquiv (A B : U) (f : A -> B) (g : B -> A) (s : (b : B) -> Path B (f (g b)) b) (t : (a : A) -> Path A (g (f a)) a) : Equiv A B :=
  (f , isoToIsEquiv A B f g s t)

-- h-levels (Cubical.Foundations.Prelude / HLevels)
data Empty : U where
data Unit : U where
  | tt : Unit
def isProp (A : U) : U := (x y : A) -> Path A x y
def isSet (A : U) : U := (x y : A) -> isProp (Path A x y)
def isGroupoid (A : U) : U := (x y : A) -> isSet (Path A x y)
def isContrIsProp {A : U} (h : isContr A) : isProp A := \x y -> compPath A x (fst h) y (sym A (fst h) x (snd h x)) (snd h y)
-- a proposition is a set (isProp->isSet): the square is filled from the corner a
def isPropIsSet {A : U} (h : isProp A) : isSet A := \a b p q -> \i j ->
  hcomp A (i \/ ~ i \/ j \/ ~ j) (\k -> [ ~ i -> h a (p j) k | i -> h a (q j) k | ~ j -> h a a k | j -> h a b k ]) a
def isPropUnit : isProp Unit := \x y -> elim Unit (\x -> Path Unit x y) (elim Unit (\y -> Path Unit tt y) (\_ -> tt) y) x
def isPropEmpty : isProp Empty := \x y -> elim Empty (\x -> Path Empty x y) x
def isPropNeg {A : U} : isProp (A -> Empty) := \f g -> \i -> \x -> elim Empty (\_ -> Path Empty (f x) (g x)) (f x) i
def isPropPi {A : U} {B : A -> U} (h : (x : A) -> isProp (B x)) : isProp ((x : A) -> B x) := \f g -> \i -> \x -> h x (f x) (g x) i
def isSetPi {A : U} {B : A -> U} (h : (x : A) -> isSet (B x)) : isSet ((x : A) -> B x) :=
  \f g p q -> \i j -> \x -> h x (f x) (g x) (\k -> p k x) (\k -> q k x) i j
-- decidable equality and Hedberg's theorem (Cubical.Relation.Nullary.Properties)
data Dec (A : U) : U where
  | yes : A -> Dec A
  | no : (A -> Empty) -> Dec A
def Discrete (A : U) : U := (x y : A) -> Dec (Path A x y)
def Stable (A : U) : U := ((A -> Empty) -> Empty) -> A
def DecStable {A : U} (d : Dec A) : Stable A := elim Dec (\_ -> Stable A) (\a _ -> a) (\na nna -> elim Empty (\_ -> A) (nna na)) d
def stableEqIsSet {A : U} (st : (x y : A) -> Stable (Path A x y)) : isSet A := \a b p q -> \j i ->
  let f : (x : A) -> Path A a x -> Path A a x := \x r -> st a x (\h -> h r) in
  let fIsConst : (x : A) -> (r s : Path A a x) -> Path (Path A a x) (f x r) (f x s) := \x r s -> \k -> st a x (isPropNeg (\h -> h r) (\h -> h s) k) in
  let rem : (r : Path A a b) -> PathP (\k -> Path A a (r k)) (f a (\_ -> a)) (f b r) := \r -> \k -> f (r k) (\l -> r (l /\ k)) in
  hcomp A (i \/ ~ i \/ j \/ ~ j) (\k -> [ ~ i -> f a (\_ -> a) k | i -> fIsConst b p q j k | ~ j -> rem p i k | j -> rem q i k ]) a
def discreteIsSet {A : U} (d : Discrete A) : isSet A := stableEqIsSet (\x y -> DecStable (d x y))
-- the naturals are discrete, hence a set
def pred : Nat -> Nat := \n -> elim Nat (\_ -> Nat) zero (\k _ -> k) n
-- the rest of the native arithmetic (M15), after pred
native sub : Nat -> Nat -> Nat := \m n -> elim Nat (\_ -> Nat) m (\k ih -> pred ih) n
def isZero : Nat -> Nat := \n -> elim Nat (\_ -> Nat) 1 (\k ih -> 0) n
native ble : Nat -> Nat -> Nat := \m n -> isZero (sub m n)
native blt : Nat -> Nat -> Nat := \m n -> ble (suc m) n
def and01 : Nat -> Nat -> Nat := \a b -> elim Nat (\_ -> Nat) 0 (\k ih -> b) a
native beq : Nat -> Nat -> Nat := \m n -> and01 (ble m n) (ble n m)
def if01 : Nat -> Nat -> Nat -> Nat := \c t e -> elim Nat (\_ -> Nat) e (\k ih -> t) c
def count : Nat -> Nat -> Nat := \m n -> elim Nat (\_ -> Nat) zero (\k ih -> if01 (ble (mul (suc k) n) m) (suc ih) ih) m
native div : Nat -> Nat -> Nat := \m n -> if01 (beq n 0) 0 (count m n)
def next : Nat -> Nat -> Nat := \m r -> elim Nat (\_ -> Nat) 0 (\d _ -> suc r) (sub m (suc r))
native mod : Nat -> Nat -> Nat := \x m -> if01 (beq m 0) x (elim Nat (\_ -> Nat) 0 (\k ih -> next m ih) x)
native pow : Nat -> Nat -> Nat := \m n -> elim Nat (\_ -> Nat) 1 (\k ih -> mul m ih) n

-- M16a: machine words in the theory. r < m is 'm - r is not zero'; the word type is the naturals below 2^64 with that bound
-- irrelevant, and the operations are specified by the naturals' arithmetic (mkw reduces modulo 2^64) and erased to the
-- run-time primitives of the same names.
def Lt : Nat -> Nat -> U := \r m -> Id Nat (isZero (sub m r)) 0
def substId {A : U} {a b : A} (P : A -> U) (p : Id A a b) (x : P a) : P b := elim Id (\y _ -> P y) x b p
def nextLt : (m r c : Nat) -> Id Nat c (sub m (suc r)) -> Lt 0 m -> Lt (elim Nat (\_ -> Nat) 0 (\d _ -> suc r) c) m :=
  \m r c -> elim Nat (\c -> Id Nat c (sub m (suc r)) -> Lt 0 m -> Lt (elim Nat (\_ -> Nat) 0 (\d _ -> suc r) c) m)
              (\e h0 -> h0)
              (\d _ e h0 -> substId (\y -> Id Nat (isZero y) 0) e refl)
              c
def modLtS : (x m : Nat) -> Lt (mod x (suc m)) (suc m) :=
  \x m -> elim Nat (\x -> Lt (mod x (suc m)) (suc m)) refl
            (\k ih -> nextLt (suc m) (mod k (suc m)) (sub (suc m) (suc (mod k (suc m)))) refl refl) x
def M64 : Nat := 18446744073709551616
def M63 : Nat := 18446744073709551615
word Word : U := Sigma Nat .(\k -> Lt k M64)
def mkw : Nat -> Word := \y -> (mod y M64, modLtS y M63)
def n2b : Nat -> Bool := \n -> elim Nat (\_ -> Bool) false (\_ _ -> true) n
word wadd : Word -> Word -> Word := \a b -> mkw (add (fst a) (fst b))
word wsub : Word -> Word -> Word := \a b -> mkw (add (fst a) (sub M64 (fst b)))
word wmul : Word -> Word -> Word := \a b -> mkw (mul (fst a) (fst b))
word weq : Word -> Word -> Bool := \a b -> n2b (beq (fst a) (fst b))
word wlt : Word -> Word -> Bool := \a b -> n2b (blt (fst a) (fst b))
word waddc : Word -> Word -> Sigma Word (\_ -> Word) := \a b -> (mkw (add (fst a) (fst b)), mkw (div (add (fst a) (fst b)) M64))
word wsubb : Word -> Word -> Sigma Word (\_ -> Word) := \a b -> (mkw (add (fst a) (sub M64 (fst b))), mkw (blt (fst a) (fst b)))
word wmull : Word -> Word -> Sigma Word (\_ -> Word) := \a b -> (mkw (mul (fst a) (fst b)), mkw (div (mul (fst a) (fst b)) M64))
word wdivmod : Word -> Word -> Sigma Word (\_ -> Word) := \a b -> (mkw (div (fst a) (fst b)), mkw (mod (fst a) (fst b)))
def injSuc {m n : Nat} (p : Path Nat (suc m) (suc n)) : Path Nat m n := \i -> pred (p i)
def caseNat (a0 as : U) (n : Nat) : U := elim Nat (\_ -> U) a0 (\_ _ -> as) n
def znots {n : Nat} (p : Path Nat zero (suc n)) : Empty := transp (\i -> caseNat Unit Empty (p i)) i0 tt
def snotz {n : Nat} (p : Path Nat (suc n) zero) : Empty := znots (\i -> p (~ i))
def discreteNat : Discrete Nat := \m -> elim Nat (\m -> (n : Nat) -> Dec (Path Nat m n))
  (\n -> elim Nat (\n -> Dec (Path Nat zero n)) (yes (\_ -> zero)) (\k _ -> no (\p -> znots p)) n)
  (\m ihm -> \n -> elim Nat (\n -> Dec (Path Nat (suc m) n)) (no (\p -> snotz p))
     (\k _ -> elim Dec (\_ -> Dec (Path Nat (suc m) (suc k))) (\p -> yes (\i -> suc (p i))) (\np -> no (\p -> np (injSuc p))) (ihm k)) n) m
def isSetNat : isSet Nat := discreteIsSet discreteNat
-- propositional truncation and set quotients, with their recursion principles into propositions and sets
data PT (A : U) : U where
  | tinc : A -> PT A
  | squash1 : (x y : PT A) -> (i : I) -> PT A [ ~ i -> x | i -> y ]
def PT_rec {A B : U} (Bprop : isProp B) (f : A -> B) : PT A -> B := \t -> elim PT (\_ -> B) (\a -> f a) (\x y ihx ihy -> \i -> Bprop ihx ihy i) t
data SQ (A : U) (R : A -> A -> U) : U where
  | inc : A -> SQ A R
  | eq : (a b : A) -> R a b -> (i : I) -> SQ A R [ ~ i -> inc a | i -> inc b ]
  | squash : (x y : SQ A R) -> (p q : Path (SQ A R) x y) -> (i j : I) -> SQ A R [ ~ i -> p j | i -> q j | ~ j -> x | j -> y ]
def SQ_rec {A B : U} {R : A -> A -> U} (Bset : isSet B) (f : A -> B) (resp : (a b : A) -> R a b -> Path B (f a) (f b)) : SQ A R -> B :=
  \s -> elim SQ (\_ -> B) (\a -> f a) (\a b r -> \i -> resp a b r i) (\x y p q ihx ihy ihp ihq -> \i j -> inS (Bset ihx ihy ihp ihq i j)) s
